<tr data-id="<%= question.id %>" <%= "data-published-state=false" if question.answered? && !question.published_state? %>>
  <td>
    <%= check_box_tag "question_ids_s[]", question.id, false, class: "js-check-all-question js-question-list-check  js-question-id-#{question.id}" %><br>
  </td>
  <td>
    <%= question.id %><br>
  </td>
  <td>
    <%= link_to(
     decidim_html_escape(present(question).title).html_safe,
     question_path(question)
    ) %><br>
  </td>
  <td>
    <% if question.category %>
      <%= translated_attribute question.category.name %>
    <% end %>
  </td>
  <% if current_participatory_space.scopes_enabled? %>
    <td>
      <% if question.scope %>
        <%= translated_attribute question.scope.name %>
      <% else %>
        <%= t("decidim.scopes.global") %>
      <% end %>
    </td>
  <% end %>

  <td>
    <strong class="<%= question_state_css_class question.state %>">
      <%= t("decidim/amendment", scope: "activerecord.models", count: 1) if question.emendation? %>
      <%= question_complete_state question %>
    </strong>
  </td>

  <% unless current_settings.publish_answers_immediately? %>
    <td>
      <% if question.answered? && !question.emendation? %>
        <%= humanize_boolean question.published_state? %>
      <% else %>
        -
      <% end %>
    </td>
  <% end %>

  <% if current_settings.votes_enabled? %>
    <td>
      <%= question.question_votes_count %>
    </td>
  <% end %>

  <% if current_component.settings.comments_enabled? and !current_settings.comments_blocked? %>
    <td>
      <%= question.comments.count %>
    </td>
  <% end %>

  <td>
    <%= question.question_notes_count %>
  </td>

  <td class="valuators-count">
    <%= question.valuation_assignments.count %>
  </td>

  <td>
    <%= l question.created_at, format: :decidim_short %>
  </td>

  <td class="table-list__actions">
    <% if allowed_to? :edit, :question, question: question %>
      <%= icon_link_to "pencil", edit_question_path(question), t("actions.edit_question", scope: "decidim.questions"), class: "action-icon--edit-question" %>
    <% end %>

    <%= icon_with_link_to_question(question) %>

    <%= resource_permissions_link(question) %>

   <%= icon_link_to "eye", resource_locator(question).path, t("actions.preview", scope: "decidim.questions.admin"), class: "action-icon--preview", target: :blank %>
  </td>
</tr>
